/* CSS Document */

.reveal-modal-bg {
	position:fixed;
	height:100%;
	width:100%;
	background-color:#000;
	z-index:100;
	display:none;
	top:0;
	left:0;
	_width:100%;
}
.reveal-modal {
	visibility:hidden;
	left:50%;
	width:550px;
	background:#00070e;
	position:absolute;
	z-index:101;
	height:365px;
	margin:-182px 0 0 -275px;
}
.reveal-modal .close-dumascroll {
	font-size:22px;
	line-height:.5;
	position:absolute;
	top:8px;
	color:#fff;
	text-shadow:0 -1px 1px rbga(0, 0, 0, .6);
	font-weight:bold;
	cursor:pointer;
}

.reveal-modal-register-bg {
	position:fixed;
	height:100%;
	width:100%;
	background-color:#000;
	z-index:100;
	display:none;
	top:0;
	left:0;
	_width:100%;
}
.reveal-modal-register {
	visibility:hidden;
	left:50%;
	width:500px;
	background:#00070e;
	position:absolute;
	z-index:101;
	height:467px;
	margin:-233px 0 0 -250px
}
.reveal-modal-register .close-dumascroll {
	font-size:22px;
	line-height:.5;
	position:absolute;
	top:8px;
	color:#fff;
	text-shadow:0 -1px 1px rbga(0, 0, 0, .6);
	font-weight:bold;
	cursor:pointer;
}
.news_back_btn {
	position:absolute;
	left:5px;
	top:5px;
	color:#aaa;
	text-shadow:0 -1px 1px rbga(0, 0, 0, .6);
	font-weight:bold;
	cursor:pointer;
}

