.content_t {
	border-bottom:1px dashed #1e3269;
}
.content_t h1, .content_t p {
	text-align:center;
}
.content_t h1 {
	font-size:24px;
	color:#ffffff;
	line-height:30px;
	font-weight:normal;
}
.content_t p {
	font-size:24px;
	font-size:13px;
	color:#a5a7ac;
	line-height:65px;
}
.content_c p.ct {
	padding:30px 0 30px 0;
	text-align:center;
}
.content_c {
	padding:30px 50px 60px 50px;
}
.content_c p {
	text-indent:24px;
	font-size:14px;
	color:#ffffff;
	line-height:32px;
}

.bold {
	font-weight:bold;
}
