.content_t {
	width:900px;
	margin:auto;
	border-bottom:1px dashed #a43a2b;
}
.content_t h1, .content_t p {
	text-align:center;
}
.content_t h1 {
	font-size:24px;
	color:#ffffff;
	line-height:30px;
}
.content_t p {
	font-size:24px;
	font-size:13px;
	color:#cca3a4;
	line-height:65px;
}
.content_c p.ct {
	padding:30px 0 30px 0;
	text-align:center;
}
.content_c {
	width:850px;
	margin:auto;
	padding:40px 0 20px 0;
}
.content_c p {
	text-indent:24px;
	font-size:14px;
	color:#ffffff;
	line-height:32px;
}
